.WAcenter{
	margin: 18px 20px ;
}
.ant-drawer-content-wrapper  h2{
	margin-top: 12px;
	font-size: 16px;
}
.ant-drawer-content-wrapper  h3:first-child{
	margin-top: 0;
	
}
.ant-drawer-content-wrapper .btn1{
	margin-right: 8px;
	color:black;
}
.ant-drawer-content-wrapper .btn1:hover{
	border: 1px solid black;
}
.ant-drawer-content-wrapper .btn2{
	color:black;
}
.ant-drawer-content-wrapper .btn2:hover{
	border: 1px solid black;
}

.ant-drawer-content-wrapper  input {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow:0px 0px 1px #ccc;
	padding: 0 8px;
	width: 460px;
	height: 30px;
}
.ant-drawer-content-wrapper textarea{
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow:0px 0px 2px #ccc;
	padding: 0 8px;
	width: 458px;
	height: 70px;
	
}
.ant-drawer-content-wrapper .date{
	overflow: hidden;
	width: 420px;
	margin: 0;
	padding: 0;
}
.ant-drawer-content-wrapper .date input{
	width: 190px;
}
.ant-drawer-content-wrapper .date div{
	float: right;
	
}
.ant-drawer-content-wrapper .date div:first-child{
	float: left;
}
.ant-calendar,.ant-calendar-picker-container{
	z-index: 999999999;
}
.ant-select-dropdown,.ant-select-dropdown--single {
	z-index: 99999999999;
}
.ant-dropdown,.ant-dropdown-menu,.ant-dropdown-placement-bottomLeft{
	z-index: 99999999999;
}
.ant-dropdown-menu,.ant-dropdown-menu-sub,.ant-dropdown-menu-submenu,.ant-dropdown-menu-submenu-popup {
	z-index: 99999999999;
}
.ant-drawer-content-wrapper .ant-select-selection__rendered{
	line-height: 26px;
}
.ant-drawer-content-wrapper .ant-select-selection{
	margin-left: 8px;
	height: 26px;
	font-size: 12px;
	line-height: 12px;
}
.ant-drawer-content-wrapper .ant-select-selection:hover,.ant-select-selection:active,.ant-select-selection:focus{
	border-color: #ccc;
	box-shadow: 0 0 0 2px rgba(185, 189, 194, 0.2);
}
.ant-drawer-content-wrapper .ant-select-selection:focus{
	border-color: #ccc;
}
.ant-drawer-content-wrapper .Content {
	border: 1px solid #ccc;
	box-shadow: 0 0 2px #ccc;
	padding: 5px 8px;
	width: 458px;
	border-radius: 3px;
}        
.ant-drawer-content-wrapper .Content .ant-select-selection{
	height: 18px;
}
.ant-drawer-content-wrapper .Content .ant-select-selection__rendered{
	line-height: 16px;
}
.ant-drawer-content-wrapper .Content h5{
	font-size: 12px;
}
.ant-drawer-content-wrapper .ant-input:hover{border-color:#ccc;}
.ant-drawer-content-wrapper .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled){border-color:#ccc;}
.ant-drawer-content-wrapper .Content input {
	border: none;
    border-bottom: 1px solid #ccc;
    webkit-box-shadow:none;
    box-shadow:none;
    padding-left: 20px;
    width: 30%;
    height: 28px;
    border-radius: 0;
} 
.ant-drawer-content-wrapper .Dropdownmume{
	cursor: pointer;
	margin-left: 10px;
	border: 1px solid #ccc;
	padding: 0 8px;
	box-shadow: 0 0 30px #ccc;
	border-radius: 3px;
	color: #ccc;
}
.ant-drawer-content-wrapper .Content .ant-select-selection {
    min-height: 20px;
    min-width: 200px;
}
.ant-drawer-content-wrapper .ant-select-selection {
    margin-left: 8px;
    min-height: 26px;
    font-size: 12px;
    line-height: 12px;
}
.drawercentainbtn{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-Top: 1px solid #e8e8e8;
	padding: 10px 16px;
	text-Align: right;
	left: 0;
	background: #fff;
	border-Radius: 0 0 4px 4px;
}
.WAcenter .ant-calendar-range-picker-separator{
	display: none;
}

.ant-table-thead > tr:first-child > th{
	text-align: center !important;
}
.ant-modal-header{
	background: #cbb69b;
	height: 57px;
    color: #775c3a;
}
.ant-modal-footer{
	border-top:none;
}

.ant-modal-footer .ant-btn-primary{
    color: #666;
    background-color: white;
    border-color: #ccc;
    margin-right: 128px;
    width: 80px;
    height: 25px;
    margin-left: 20px;
}
.ant-modal-footer .ant-btn{
	width: 80px;
    height: 25px;
}
.ant-modal-footer .ant-btn:hover{
	border-color: #999;
	color: black;
}

.ant-modal-content{
	z-index: 9999999999999999999999999999999999;
	width: 460px;
	height: 210px;
}
.ant-modal-body{
    padding: 0;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.ant-modal-body p{
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
}




.ant-pagination-prev:hover .ant-pagination-item-link{
	color:#666;
	border-color: #666;
}
.ant-pagination-next:focus .ant-pagination-item-link{
	color:#666;
	border-color: #666;
}

.ant-pagination-next:hover .ant-pagination-item-link{
	color:#666;
	border-color: #666;
}



.ant-pagination-item-active{
	border-color: #ccc;
	background: black;
}
.ant-pagination-item-active a{
	color:white;
}
.ant-pagination-item:hover{
	border-color: #ccc;
	color: black;
}
.ant-pagination-item:hover a{
	font-size: 16px;
	color: #999;
	border-color: black;
}
.ant-pagination-item-active
.ant-pagination-item-active:focus{
	border-color: #ccc;
}
.ant-pagination-item-active:focus a{
	color: white;
}

.ant-select-search--inline .ant-select-search__field{
	height: 0;
}
.btn-default.focus, .btn-default:focus {
    color: white;
    background-color: black;
}
.ant-tabs{
	overflow: visible;
}
li{
	cursor: pointer;
}
input::input-placeholder{
	color:#b8c4ce!important;
} 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #ccc!important; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
	color: #ccc!important; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
	color: #ccc!important; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
	color: #ccc!important; 
}
.fontsize14{
	font-size: 14px;
}
